<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target="#response-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="padding-top: 0;">
        <img alt="YOHO有货" src="/admin/images/logo.png" width="50">
      </a>
      <p class="navbar-brand" style="color: white;margin: 0;">后台管理系统</p>
    </div>
    <div class="" id="response-navbar">
      <% if (!isLogin) { %>
        <ul class="nav navbar-nav navbar-right">
        	<% if(!signUp){ %>
          	<li><a href="#" class="hearder_register">注册</a></li>
          <% }else{ %>
          	<li><a href="#" class="header_login">登录</a></li>
          <% } %>
        </ul>
      <% } else { %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:void(0)"  style="color:white"><span class="glyphicon glyphicon-user"></span> 你好，<%= username %></a></li>
          <li class="signout" data-toggle="modal" data-target="#signout"><a href="#">注销</a></li>
        </ul>
      <% } %>
    </div>
  </div>
</nav>
<div class="modal fade in" id="signout" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p style="text-align:center;font-size:16px">确定要注销登录吗？</p>
      </div>
      <div class="modal-footer" style="padding:7px 10px">
        <button type="button" class="btn btn-primary yessignout" style="background:#414141">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
