<div class="list container-fluid">
	<div class="aside">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              <span class="glyphicon glyphicon-pencil"></span> 业务
            </a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <ul class="list-body">
            <li class="list-group-item" to='Users'><a href="javascript:void(0)"><span class="glyphicon glyphicon-user"></span> 用户</a></li>
            <li class="list-group-item" to='Shopping_cart'><a href="javascript:void(0)"><span class="glyphicon glyphicon-shopping-cart"></span> 购物车</a></li>
            <li class="list-group-item" to='Good_classify'><a href="javascript:void(0)"><span class="glyphicon glyphicon-th-large"></span> 商品分类</a></li>
            <li class="list-group-item" to='Goods_list'><a href="javascript:void(0)"><span class="glyphicon glyphicon-list"></span> 商品列表</a></li>
            <li class="list-group-item" to='Good_details'><a href="javascript:void(0)"><span class="glyphicon glyphicon-list-alt"></span> 商品详情</a></li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              <span class="glyphicon glyphicon-cog"></span> 管理
            </a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in">
          <ul class="list-body">
            <li class="list-group-item" to='Guanli1'><a href="javascript:void(0)"><span class="glyphicon glyphicon-bookmark"></span> 管理1</a></li>
            <li class="list-group-item" to='Guanli2'><a href="javascript:void(0)"><span class="glyphicon glyphicon-bookmark"></span> 管理2</a></li>
          </ul>
        </div>
      </div>
    </div>
		<div class="btnn">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</div>
	</div>
	<div class="section">
		<div class="jumbotron">
		  <h1>YOHO</h1>
		  <p>基于NodeJS + Express + EJS + MongoDB + Mongoose 的有货后台管理系统</p>
		</div>
	</div>
	<div class="phone">
		<div class="page-header">
	    <h1 style="font-size:20px;margin:8px 0">效果演示<small style="float:right;margin:5px 10px 0 0"><a href="javascript:void(0)" class="refresh"><span class="glyphicon glyphicon-refresh"></span> 刷新</a></small></h1>
	  </div>
		<div class="iframe">
			<iframe src="http://localhost:4000/" width="320px" height="568px" frameborder="0" @load="frameload($event)" scrolling="no"></iframe>
		</div>
		<div class="btnn">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</div>
	</div>
</div>
