<div class="signup container">
	<div class="bg">
	</div>
	<div class="form">
		<h4>注册</h4>
		<form class="form-horizontal">
			<div class="form-group">
				<span class="glyphicon glyphicon-user"></span>
				<input class="form-control" type="text" placeholder="用户名" state='0'/>
				<span class="glyphicon glyphicon-ok form-control-feedback"></span>
				<span id="helpBlock2" class="help-block">用户名已被注册！</span>
			</div>
			<div class="form-group">
				<span class="glyphicon glyphicon-lock"></span>
				<input class="form-control" type="password" placeholder="密码" state='0'/>
				<span class="glyphicon glyphicon-ok form-control-feedback"></span>
				<span id="helpBlock2" class="help-block">请输入6-18位密码！</span>
			</div>
			<div class="form-group">
				<span class="glyphicon glyphicon-lock"></span>
				<input class="form-control" type="password" placeholder="确认密码" state='0'/>
				<span class="glyphicon glyphicon-ok form-control-feedback"></span>
				<span id="helpBlock2" class="help-block">两次密码输入不一致！</span>
			</div>
			<div class="form-group">
				<button class="btn btn-default register" disabled="disabled">注册</button>
				<button class="btn btn-default login">登录</button>
			</div>
		</form>
	</div>
</div>
